<div id="<%= dom_id inventory %>">
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Name</div>
    <div class="col-md-8"><%= inventory.name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Description</div>
    <div class="col-md-8"><%= inventory.description %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Price</div>
    <div class="col-md-8"><%= inventory.price %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Quantity</div>
    <div class="col-md-8"><%= inventory.quantity %></div>
  </div>

</div>
