<div id="<%= dom_id customer %>>">
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Name</div>
    <div class="col-md-8"><%= customer.name %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Category</div>
    <div class="col-md-8"><%= customer.category %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address street</div>
    <div class="col-md-8"><%= customer.address_street %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address city</div>
    <div class="col-md-8"><%= customer.address_city %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address state</div>
    <div class="col-md-8"><%= customer.address_state %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address zip</div>
    <div class="col-md-8"><%= customer.address_zip %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address street</div>
    <div class="col-md-8"><%= customer.billing_address_street %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address city</div>
    <div class="col-md-8"><%= customer.billing_address_city %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address state</div>
    <div class="col-md-8"><%= customer.billing_address_state %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address zip</div>
    <div class="col-md-8"><%= customer.billing_address_zip %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Contact first name</div>
    <div class="col-md-8"><%= customer.contact_first_name %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Contact last name</div>
    <div class="col-md-8"><%= customer.contact_last_name %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Phone</div>
    <div class="col-md-8"><%= customer.phone %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Email</div>
    <div class="col-md-8"><%= customer.email %></div>
  </div>
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Notes</div>
    <div class="col-md-8"><%= customer.notes %></div>
  </div>
</div>
