<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= customer.category %>
  </p>

  <p>
    <strong>Address street:</strong>
    <%= customer.address_street %>
  </p>

  <p>
    <strong>Address city:</strong>
    <%= customer.address_city %>
  </p>

  <p>
    <strong>Address state:</strong>
    <%= customer.address_state %>
  </p>

  <p>
    <strong>Address zip:</strong>
    <%= customer.address_zip %>
  </p>

  <p>
    <strong>Billing address street:</strong>
    <%= customer.billing_address_street %>
  </p>

  <p>
    <strong>Billing address city:</strong>
    <%= customer.billing_address_city %>
  </p>

  <p>
    <strong>Billing address state:</strong>
    <%= customer.billing_address_state %>
  </p>

  <p>
    <strong>Billing address zip:</strong>
    <%= customer.billing_address_zip %>
  </p>

  <p>
    <strong>Contact first name:</strong>
    <%= customer.contact_first_name %>
  </p>

  <p>
    <strong>Contact last name:</strong>
    <%= customer.contact_last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>

</div>
