<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.number_field :category %>
  </div>

  <div>
    <%= form.label :address_street, style: "display: block" %>
    <%= form.text_field :address_street %>
  </div>

  <div>
    <%= form.label :address_city, style: "display: block" %>
    <%= form.text_field :address_city %>
  </div>

  <div>
    <%= form.label :address_state, style: "display: block" %>
    <%= form.text_field :address_state %>
  </div>

  <div>
    <%= form.label :address_zip, style: "display: block" %>
    <%= form.text_field :address_zip %>
  </div>

  <div>
    <%= form.label :billing_address_street, style: "display: block" %>
    <%= form.text_field :billing_address_street %>
  </div>

  <div>
    <%= form.label :billing_address_city, style: "display: block" %>
    <%= form.text_field :billing_address_city %>
  </div>

  <div>
    <%= form.label :billing_address_state, style: "display: block" %>
    <%= form.text_field :billing_address_state %>
  </div>

  <div>
    <%= form.label :billing_address_zip, style: "display: block" %>
    <%= form.text_field :billing_address_zip %>
  </div>

  <div>
    <%= form.label :contact_first_name, style: "display: block" %>
    <%= form.text_field :contact_first_name %>
  </div>

  <div>
    <%= form.label :contact_last_name, style: "display: block" %>
    <%= form.text_field :contact_last_name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
