<div id="<%= dom_id company %>">
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Name</div>
    <div class="col-md-8"><%= company.name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address street</div>
    <div class="col-md-8"><%= company.address_street %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address city</div>
    <div class="col-md-8"><%= company.address_city %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address state</div>
    <div class="col-md-8"><%= company.address_state %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Address zip</div>
    <div class="col-md-8"><%= company.address_zip %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address street</div>
    <div class="col-md-8"><%= company.billing_address_street %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address city</div>
    <div class="col-md-8"><%= company.billing_address_city %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address state</div>
    <div class="col-md-8"><%= company.billing_address_state %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Billing address zip</div>
    <div class="col-md-8"><%= company.billing_address_zip %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Contact first name</div>
    <div class="col-md-8"><%= company.contact_first_name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Contact last name</div>
    <div class="col-md-8"><%= company.contact_last_name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Phone</div>
    <div class="col-md-8"><%= company.phone %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Email</div>
    <div class="col-md-8"><%= company.email %></div>
  </div>

</div>
